* {
  box-sizing: border-box;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input, button {
  outline: none;
  background: none;
  border: none;
}

.dark-background {
  background-color: #E85A50;
}

.dark-background-hover {
  background-color: #E85A50;
}

.dark-background-hover:hover {
  background-color: #E88073;
}

.dark-background-secondary {
  background-color: #E88073;
}

.light-background {
  background-color: #EAE8DC;
}

.light-background-secondary {
  background-color: #D8C3A4;
}

.white-background {
  background-color: #FFFFFF;
}

.light-text-color {
  color: #FFFFFF
}

.dark-text-color {
  color: #E85A50
}

.light-border-color {
  border-color: #D8C3A4;
}

.dark-border-color {
  border-color: #E85A50;
}

.primary-font-family {
  font-family: 'Lalezar', Arial, sans-serif;
}

.secondary-font-family {
  font-family: 'Montserrat', sans-serif;
}